<div id="announce-wrapper">
  <div id="announce">
    <div>
Искате ли да научите моите тайни за по-здрави зъби? <a href="/books/">Вижте ги в новата ми книга</a>
    </div>
  </div><!-- #announce -->
</div><!-- #announce-wrapper -->

<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/">BezKaries.com</a>
      <ul class="nav">
        <li><a href="/about/" class="nav-about">За мен</a></li>
        <li><a href="/blog/" class="nav-blog">Блог</a></li>
        <li><a href="/services/" class="nav-services">Консултиране</a></li>
        <li><a href="/contact/" class="nav-contact">Контакти</a></li>
        <li id="search-container">
          <input type="text" id="searchfield" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /><label class="search-placeholder">Търсене</label>
          <div class="cancel-search"></div>
          <ul id="search-results">

          </ul>
        </li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
