    <div class="sidebar-shell">
        <%= render 'headlines', :posts => posts_list %>

        <div class="sidebar-module notice"><a class="rss-subscribe" href="/blog.atom">Абонирай се за нашия RSS feed</a></div>
        <div class="sidebar-module notice"><a class="facebook-subscribe" href="https://www.facebook.com/Дентална-практика-д-р-Симеонова-128777267167462/timeline/">Следете ни във Facebook</a></div>
        <h2>Приятели</h2>
        <ul class="headlines sidebar-module">
          <li><a href="http://cioccolatascorner.blogspot.com/">Cioccolata’s Corner</a></li>
          <li><a href="http://laika.bg/">Лайка.бг</a></li>
        </ul>
    </div>
